html,
body {
   margin:0;
   padding:0;
   overflow-x: hidden;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
   font-weight: 500;
}
#nobootcontainer {
   min-height:100%;
   overflow-y: hidden;
   position:relative;
}
#header {
    top: 0;
    width: 100%;
    height: 111px;
    padding-bottom: 10px;
}
#body {  /* Height of the footer */
   font-family: sans-serif;
}
#footer {
    width:100%;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 150px;
    /*position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer 
    margin-top: 60px;*/
}
.na{
    display: none;
}
.nab{
    display: block;
    width: 100%;
    border-radius: 0;
    border-width: 0;
    padding: 10px;
    margin: 0;
}
.primary-navbar{
    background-color: #F7F7F7;
}
.nav-head{
    width: 5%;
}
.nav-head>a{
    padding: 0;
    text-align: center;
}
#navbar-brand-img{
    width: 50%;
    height: auto;
    display: inline-block;
    margin-top: -6%;
}
.nab-nav{
    width: 95%;
}
a:hover{
    color: #0094DB !important;
}
.active-link{
    color: #0094DB !important;
}
#login-pos{
    float: right;
}
#secondary-nav{
    position: relative;
    z-index: 2;
}
#secondary-nav ul{
    margin-left: 4.8%;
}
.secondary-nav-1{
    border-width: 0;
    min-height: 40px;
    padding: 0;
    padding-left: 10px;
    background-color: #FBFBFB;
}
.secondary-nav-1 a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.more-navbar{
    position: relative;
    top: -40px;
    z-index: 1;
}
.more-navbar a{
    padding: 10px 0px 0px 17px !important;
}
.more-navbar ul{
    margin-left: 4.8%;
}
.more-icon{
    font-size: 12px;
}
#more-btn{
    cursor: pointer;
}
.college-name{
    position: absolute;
    top: 11%;
    left: -17%;
    transform: rotate(90deg);
    color: #0094DB;
    font-size: 30px;
}
.vl{
    position: absolute;
    left: 7.03125%;
    height: 100%;
    width: 1px;
    background-color: #DCDCDC;
}
.content-indent{
    margin-left: 7.03125%;
    padding: 40px 80px;
}
.heading{
    font-size: 24px;
}
.heading>h4{
    margin-bottom: 40px;
    color: #0094DB;
}
.heading>p{
    margin-bottom: 30px;
}
.hr-tag{
    border-top: 1px solid #DCDCDC;
    margin-bottom: 0;
}
.content-outlay{
    padding-top: 0;
    font-size: 23px;
    overflow: hidden;
}
.content-outlay h1{
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 40px;
    border-top: 2.5px solid #0094DB;
}
.content-outlay>div[class="col-xs-7"]{
    padding-left: 0;
}
.content-outlay>div[class="col-xs-5"]{
    text-align: center;
}
.vision h1{
    width: 19%;
}
.vision img{
    width: 70%;
    margin-top: 35%;
    box-shadow: 10px 15px 18px #AAAAAA, -10px 15px 18px #AAAAAA;
}
.mission{
    font-size: 20px;
}
.mission h1{
    width: 23%;
}
.mission li{
    margin-bottom: 15px;
}
.mission img{
    width: 70% ;
    margin-top: 50%;
    box-shadow: 10px 15px 18px #AAAAAA, -10px 15px 18px #AAAAAA;;
}
.governing{
    padding-bottom: 0;
    height: 95px;
}
.governing h1{
    width: 28.1%;
}
.governing-body{
    padding-right: 10px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 30px;
}
.governing-body>div{
    text-align: center;
    height: 650px;
}
.governing-body img{
    width: 45%;
    position: relative;
    top: 50px;
    z-index: 2;
}
.governing-body>div>div{
    width: 85%;
    height: 69%;
    margin: auto;
    border: 1px solid #DCDCDC;
    font-size: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.governing-body>div>div>div{
    margin: 80px 40px 70px 40px;
}
.governing-body>div>div>div>div{
    margin-bottom: 15px;
}
.governing-body>div>div>div>div>span{
    color: #0094DB;
}
.principal>div>div{
    margin-top: 40% !important;
}
.dean>div>div{
    margin-top: 40% !important;
}
.courses h1{
    width: 29%;
}
.prog{
    padding-left: 0;
}
.courses h3{
    color: #0094DB;
    margin-bottom: 20px;
}
.courses a{
    color: #000000;
    text-decoration: none;
}
.courses a>h4:hover{
    color: #da251c;
}
.courses h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.e1{
    text-align: center;
}
#footer img{
    width: 40%;
    margin-left: 100px;
}
#footer h4{
    color: #0094DB;
}
#footer h5{
    margin-bottom: 5px;
    margin-top: 5px;
}
#footer a{
    text-decoration: none;
    color: #000000;
}
#footer a:hover{
    text-decoration: none;
    color: #0094DB;
}
.footer-navbar{
    border-left: 2px solid #999999;
}
@media (max-width: 1023px){
    .na{
        border-color: none;
        z-index: 3;
    }
    .na img{
        width: 8vw;
        margin-top: -3vw;
    }
    .navbar-header{
        float: none;
    }
    .navbar-left,.navbar-right{
        float: none !important;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-collapse{
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top{
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse{
        display: none !important;
    }
    .navbar-nav{
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li{
        float: none;
    }
    .navbar-nav>li>a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    #header{
        height: 50px;
    }
    .vl{
        left: 15vw;
    }
    .content-indent{
        margin-left: 15vw;
        padding: 5vw 5vw;
    }
    .heading{
        font-size: 4vw;
    }
    .college-name{
        top: 80vw;
        left: -57vw;
        font-size: 7vw;
        width: 130vw;
    }
    [class*="col-"]{
        width: 100%;
    }
    .vision{
        font-size: 4vw;
        padding-top: 0;
    }
    .vision h1{
        width: 29vw;
    }
    .vision img{
        width: 65vw;
        margin-top: 7vw;
    }
    .mission{
        font-size: 4vw;
        padding-top: 0;
    }
    .mission h1{
        width: 36.6vw;
    }
    .mission img{
        width: 65vw;
        margin-top: 7vw;
    }
    .governing{
        padding-top: 0;
        padding-bottom: 0;
        height: 40vw;
    }
    .governing h1{
        width: 50.5vw;
    }
    .governing-body{
        padding-top: 0;
    }
    .governing-body>div{
        height: 150vw;
    }
    .governing-body>div>div{
        width: 67vw;
        height: 115vw;
        font-size: 4vw;
    }
    .governing-body>div>div>div{
        margin: 25vw 5vw 11.5vw 5vw;
    }
    .principal>div>div{
        margin-top: 40vw !important;
    }
    .dean>div>div{
        margin-top: 40vw !important;
    }
    .courses{
        padding-top: 0;
    }
    .courses h1{
        width: 40.5vw;
    }
}
@media(min-width: 1440px){
    body{
        font-size: 16px;
    }
    #navbar-brand-img{
        width: 46%;
        margin-top: -4.5%;
    }
    .college-name{
        top: 11.2%;
        left: -16.5%;
        font-size: 33px;
    }
    .heading{
        font-size: 30px;
    }
    .heading>h4{
        font-size: 20.8px;
    }
    .content-outlay{
        font-size: 25px;
    }
    .content-outlay h1{
        font-size: 38px;
    }
    .vision h1{
        width: 16.5%;
    }
    .vision img{
        width: 71%;
        margin-top: 29%;
    }
    .mission{
        font-size: 22px;
    }
    .mission h1{
        width: 21%;
    }
    .mission li{
        margin-bottom: 20px;
    }
    .mission img{
        width: 72%;
    }
    .governing h1{
        width: 25.8%;
    }
    .governing-body{
        margin-bottom: 65px;
    }
    .governing-body img{
        width: 48%;
    }
    .governing-body>div{
        height: 690px;
    }
    .governing-body>div>div{
        font-size: 21px;
        height: 69.5%;
    }
    .principal>div>div{
        margin-top: 44% !important;
    }
    .dean>div>div{
        margin-top: 44% !important;
    }
    .courses h1{
        width: 26.3%;
    }
    #footer img{
        width: 41%;
        margin-left: 115px;
    }
}
@media(min-width: 2560px){
    body{
        font-size: 25px;
    }
    #body{
        margin-top: 67.6056px;
    }
    .primary-navbar{
        height: 120px;
    }
    .primary-navbar ul{
        padding-top: 32.5px;
    }
    #navbar-brand-img{
        margin-top: 0;
    }
    .secondary-nav-1{
        height: 67.6056px;
    }
    .secondary-nav-1 ul{
        padding-top: 13.8028px;
        margin-left: 4.9%;
    }
    .more-navbar{
        top: -67.6056px;
    }
    .vl{
        left: 5.3%;
    }
    .college-name {
        top: 13%;
        left: -12.9%;
        font-size: 46px;
    }
    .content-indent{
        margin-left: 8%;
    }
    .content-outlay{
        font-size: 33.326px;
        padding-bottom: 90px;
    }
    .heading{
        font-size: 60px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .heading>h4 {
        font-size: 32px;
    }
    .content-outlay h1{
        font-size: 85px;
    }
    .vision{
        font-size: 50px;
    }
    .vision h1{
        width: 18.5%;
        margin-bottom: 90px;
    }
    .vision img{
        width: 68%;
        box-shadow: 30px 30px 40px #E7E7E7, -30px 30px 40px #E7E7E7;
    }
    .mission{
        font-size: 43px;
    }
    .mission h1{
        width: 23.5%;
        margin-bottom: 90px;
    }
    .mission li{
        margin-bottom: 40px;
    }
    .mission img{
        width: 68%;
        box-shadow: 30px 30px 40px #E7E7E7, -30px 30px 40px #E7E7E7;
    }
}